server:
  port: 8081

spring:
  profiles:
    active: test
  data:
    redis:
      host: localhost
      port: 6379

  kafka:
    bootstrap-servers: localhost:9092
    consumer:
      group-id: metrics-service
      auto-offset-reset: earliest
      enable-auto-commit: false
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.apache.kafka.common.serialization.StringDeserializer
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.apache.kafka.common.serialization.StringSerializer

  datasource:
    url: jdbc:postgresql://localhost:5432/postgres
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
    hikari:
      data-source-properties:
        defaultRowFetchSize: 1000

fetch:
  services:
    - id: service-a
      url: http://localhost:8081/metrics

check:
  labelSizeLimit: 50
  metricSeriesLimit: 1000

store:
  flushBatchSize: 500
  flushInterval: 5

#logging:
#  level:
#    com.metrics: INFO
#    org.springframework.kafka: INFO
